/codeparrot-ds
/hug_bert_train_self
/hug_gpt_train_self
/wikitext-*
*.out
/wiki*
/book*
/utils/wikitext-*
*.arrow
/out_dir
**/__pycache__
model_save/
*.pt
/vanilla_*
#保留生成数据集的ipynb#
# /processed_datadir/
#不能像上面那么写
/processed_datadir/*/*
!/processed_datadir/*/*.ipynb
/hug_gpt_pretrain
/hug_gpt_pretrain_hug_trainer
/speed_test
*.0
/cos_bert_pretrain

/compare_bert
/compare_gpt



